.venv/
__pycache__/
*.pyc
.env
.streamlit/
data/results/
data/users/
git_tkn.txt
*.sqlite
/data/general/secret.key
/data/BKP/

data/projects/*
!data/projects/44ffed28-4a96-4571-aa72-8696ad446a39/
!data/projects/44ffed28-4a96-4571-aa72-8696ad446a39/**
data/projects/**/report_cache/

# Service accounts
!package.json
!tsconfig.json
service_account.json
*.key

# Env
.env*

gera_key.py