.venv/
__pycache__/
*.pyc
.env
.streamlit/
data/results/
data/users/
git_tkn.txt
*.sqlite
/data/general/secret.key
/data/BKP/
data/projects/

# Service accounts
!package.json
!tsconfig.json
service_account.json
*.key

# Env
.env*
